# Tasks 10th of july 

>>>> by Aamir Jamil

## task 1

In [40]:
# 1. Create a list of your favorite movies
movies = ["Transformer", "Inception", "The Matrix", "Pulp Fiction"]

In [41]:
# 2. Add a new movie to the end of the list
movies.append("Interstellar")

In [42]:
# 3. Remove the second movie from the list
del movies[1]

In [43]:
# 4. Print the final list
print("Final movie list:", movies)

Final movie list: ['Transformer', 'The Matrix', 'Pulp Fiction', 'Interstellar']

## task 2

In [28]:
# 1. Create a tuple containing the names of five different countries
countries = ("France", "Japan", "Brazil", "Canada", "Australia")

# 2. Print the name of the third country in the tuple
print("Third country:", countries[2])

Third country: Brazil

In [29]:
# 3. Attempt to change the name of the second country (this will raise an error)
try:
    countries[1] = "Germany"
except TypeError as e:
    print("Error:", e)

Error: 'tuple' object does not support item assignment

## task 3

In [30]:
# 1. Create a dictionary to store information about a book
book = {
    "title": "To Kill a Mockingbird",
    "author": "Harper Lee",
    "year": 1960
}

In [31]:
# 2. Add a new key-value pair for the genre of the book
book["genre"] = "Fiction"

In [32]:
# 3. Update the year of publication
book["year"] = 1961

In [33]:
# 4. Print the final dictionary
print("Final book information:", book)

Final book information: {'title': 'To Kill a Mockingbird', 'author': 'Harper Lee', 'year': 1961, 'genre': 'Fiction'}

## task 4

In [34]:
# 1. Create a dictionary with student information
students = {
    "Alice": (18, ["Math", "Physics"]),
    "Bob": (19, ["Chemistry", "Biology"])
}

In [35]:
# 2. Add a new student to the dictionary
students["Charlie"] = (20, ["History", "Literature"])

# 3. Update the favorite subjects for an existing student
students["Alice"][1].append("Computer Science")

# 4. Print the final dictionary
print("Final student information:", students)

Final student information: {'Alice': (18, ['Math', 'Physics', 'Computer Science']), 'Bob': (19, ['Chemistry', 'Biology']), 'Charlie': (20, ['History', 'Literature'])}

## task 5

In [36]:
# 1. Create a list of numbers from 1 to 10
numbers = [1,2,3,4,5,6,7,8,9,10]

In [37]:
# 2. Find the sum of all numbers in the list
total_sum = sum(numbers)

In [38]:
# 3. Find the average of the numbers in the list
average = total_sum / len(numbers)

In [39]:
# 4. Print the sum and average
print(f"Sum: {total_sum}")
print(f"Average: {average}")

Sum: 55
Average: 5.5

## task 6

In [22]:
students_age = {
    "aamir": 18,
    "sidra": 19,
    "ali": 20
}

In [23]:
print("sidra's age:", students_age["sidra"])


students_age["ramzan"] = 19


print("Updated student ages:", students_age)

sidra's age: 19
Updated student ages: {'aamir': 18, 'sidra': 19, 'ali': 20, 'ramzan': 19}

## task 7

In [18]:
prime_numbers = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [19]:
print("First 5 prime numbers:", prime_numbers[:5])

First 5 prime numbers: [2, 3, 5, 7, 11]

In [20]:
print("Last 3 prime numbers:", prime_numbers[-3:])

Last 3 prime numbers: [19, 23, 29]

In [21]:
print("Prime numbers from index 3 to 7:", prime_numbers[3:8])

Prime numbers from index 3 to 7: [7, 11, 13, 17, 19]

## task 8

In [14]:
tup = ([1,2,3], [4,5,6], [7,8,9])

#2.Access and print the second element of the second list.
tup[1][1]

5

In [16]:
tup[2].append(10)

In [17]:
# Print the modified tuple.
tup

([1, 2, 3], [4, 5, 6], [7, 8, 9, 10, 10])

In [44]:
num =[1,2,3,4,5]

sum(num)

15