# data types

In [9]:
a = 10
b = 2.53
c = 'A'
d = "amir"
e = True

a,b,c,d,e

(10, 2.53, 'A', 'amir', True)

In [10]:
type(a), type(b), type(c), type(d), type(e)

(int, float, str, str, bool)

In [11]:
x = a+b

In [12]:
type(x)

float

In [15]:
y= c+d
y

'Aamir'

In [16]:
type(y)

str

In [37]:
# list 
age = [4,5,6,6,4,4,3,5]

type(age)

list

In [39]:
# tuple
age = (3,4,4,3,3,5,3,32,23)

type(age)

tuple

In [40]:
# dict

subject = {"aamir": "AI", 
          "sidra": "faIL",
          "BAQI SAB": "PASS"}

subject

{'aamir': 'AI', 'sidra': 'faIL', 'BAQI SAB': 'PASS'}

In [41]:
type(subject)

dict

# Opreations

In [20]:
# arthmetic

a = 8
b = 5

a+b, a-b, a*b, a/b, a**b, a%b

(13, 3, 40, 1.6, 32768, 3)

In [21]:
# logical 

a>b, a<b , a<=b , a>=b , a!=b, a==b

(True, False, False, True, True, False)

In [22]:
# assignmnet 

# = 

a= 10

In [23]:
b =a

In [24]:
b

10

In [26]:
# .....
a =10
a

10

In [27]:
a = 11

In [28]:
a

11

In [29]:
a +=1 
# a = a+1

In [30]:
a

12

In [31]:
a *= 2
a

24

# control structer

In [32]:
print("this is first line")
print("this is second line")
print("this is third line")
print("this is fourth line")

this is first line
this is second line
this is third line
this is fourth line

1. conditonal statements
2. iteration

In [36]:
# if, elif, else


num = 1

if num ==4:
    print("this is number 4")
elif num >4:
    print("this is greater than 4")
else:
    print("number is less than 4")

number is less than 4

In [45]:
# loop
age = [4,5,6,6,4,4,3,5]

for i in age:
    print(i)

4
5
6
6
4
4
3
5

In [47]:
subject = {"aamir": "love sidra", 
          "sidra": "pass",
          "BAQI SAB": "bar ma gaen"}

for key, value in subject.items():
    print(f"key {key}      value {value}")

key aamir      value love sidra
key sidra      value pass
key BAQI SAB      value bar ma gaen

In [53]:
for i in range(3,200,10):
    print(i)

3
13
23
33
43
53
63
73
83
93
103
113
123
133
143
153
163
173
183
193

# functions

function defination

In [73]:
def cube(a):
    cube = a*a*a
    return cube

In [74]:
num =4

In [75]:
c = cube(num)

In [76]:
c

64

## another function

In [77]:
def check_even_odd(n):
    if n%2==0:
        return "even"
    return "odd"

In [78]:
a

10

In [79]:
print(check_even_odd(a))

even