In [2]:
# import libraries
import pandas as pd
import numpy as np

# task 1
Basic Grouping and Aggregation

In [9]:
# Given a DataFrame with columns Department and Salary, 
# group the data by Department and calculate the average salary for each department.

data = {"department":['networking', 'AI', 'IT', 'Software', 'Computer hardware', 'AI', 'IT', 'Software','networking','AI'],
       "salary":[124000,222000,342000,245300,2432000,111000,203940,343330,909900,99900]}

# df
df =  pd.DataFrame(data)

avg_salary = df.groupby('department')['salary'].mean()

print(avg_salary)

department
AI                    144300.0
Computer hardware    2432000.0
IT                    272970.0
Software              294315.0
networking            516950.0
Name: salary, dtype: float64

# task 2
Grouping and Filtering

In [17]:
#Task: Given a DataFrame with columns City and Population, 
#group the data by City and filter out the cities with a total population greater than 100,000.

data = {'City': ['krachi','lahore','islamabad', 'rawalpindi','krachi','lahore'],
       'population': [12765,76543,2345,987654,234567,876543]}

df = pd.DataFrame(data)

population = df.groupby('City')['population'].sum() 

filterd_cities = population[population>100000]

print(filterd_cities)

City
krachi        247332
lahore        953086
rawalpindi    987654
Name: population, dtype: int64

# task 3
Grouping and Aggregating with Multiple Functions

In [22]:
# Given a DataFrame with columns Product and Sales,
#group the data by Product and compute both the total sales 
#and the average sales for each product.

data = {'product':['keybaord', 'mouse','harddisk', 'mouse','touchpad','ssd','ssd','keybaord','GPU'],
       'sales':[2565,23654,23654,26543,98765,3458,876,124,1245]}

df = pd.DataFrame(data)

total_sale = df.groupby('product')['sales'].sum()
avg_sale  = df.groupby('product')['sales'].mean()

print("total sale \n", total_sale)
print("average sale  \n", avg_sale)

total sale
 product
GPU          1245
harddisk    23654
keybaord     2689
mouse       50197
ssd          4334
touchpad    98765
Name: sales, dtype: int64
average sale
 product
GPU          1245.0
harddisk    23654.0
keybaord     1344.5
mouse       25098.5
ssd          2167.0
touchpad    98765.0
Name: sales, dtype: float64

# task 4
Transformation Within Groups

In [33]:
# Task: Given a DataFrame with columns Team and Score,
#group the data by Team and normalize the scores within each team
#(subtract the mean and divide by the standard deviation).

data = {"team":['A','B','A','C','A','D','B','E','D','B'],
       'scores':[14,66,24,25,24,97,53,35,23,12]}

df = pd.DataFrame(data)

total_score = df.groupby('team')['scores'].sum()
avg_scores = df.groupby('team')['scores'].mean()
std_scores = df.groupby('team')['scores'].std()

normal_score = (total_score+avg_scores) / std_scores
normal_score

team
A    14.318287
B     6.197387
C          NaN
D     3.439979
E          NaN
Name: scores, dtype: float64

In [36]:
# another method 

# Define a function to normalize scores
def normalize(group):
    return (group - group.mean()) / group.std()

# Group by 'Team' and apply the normalization
noram_score = df.groupby('team')['scores'].transform(normalize)

print(noram_score)

0   -1.154701
1    0.792414
2    0.577350
3         NaN
4    0.577350
5    0.707107
6    0.331158
7         NaN
8   -0.707107
9   -1.123572
Name: scores, dtype: float64

# task 5
Applying Multiple Aggregations to Different Columns

In [38]:
#Given a DataFrame with columns Category, Amount, and Count, 
#group the data by Category and
#apply different aggregation functions to Amount and Count.


# Sample DataFrame (replace with your actual DataFrame)
data = {
    'Category': ['A', 'B', 'A', 'C', 'B', 'C'],
    'Amount': [100, 150, 200, 250, 300, 350],
    'Count': [1, 2, 3, 4, 5, 6]
}

df = pd.DataFrame(data)

aggregated_data = df.groupby('Category').agg({
    'Amount': ['sum', 'mean'],  
    'Count': ['count', 'max']
}).reset_index()


aggregated_data.columns = ['Category', 'Total Amount', 'Average Amount', 'Count of Entries', 'Max Count']

aggregated_data

  Category  Total Amount  Average Amount  Count of Entries  Max Count
0        A           300           150.0                 2          3
1        B           450           225.0                 2          5
2        C           600           300.0                 2          6

In [44]:
class outerclass:
    def __init__(self):
        self.inner = inner_class() 

    def outer_method(self):
        return self.inner.inner_method()  

class inner_class:
    def __init__(self):
        self.value = "inner class"

    def inner_method(self):
        return self.value

# Create an instance of outerclass
outer = outerclass()

# Call the outer_method
print(outer.outer_method())

inner class