# Task 1 
Select Specific Rows

In [6]:
# Task: Create a DataFrame df with columns 'X' and 'Y'. Select rows with indices 2 to 4 (inclusive).

import pandas as pd

# dictionary 
data = {'x':[1,2,4,5,6,4,2],
       'y':[5,3,4,4,7,6,4]}

# dataframe 
df = pd.DataFrame(data)

#print 2 3 and 4 rows
df.loc[2:4]

   x  y
2  4  4
3  5  4
4  6  7

# Task 2
Select a Subset of Rows and Columns

In [13]:
# Task: Given a DataFrame df with columns 'A', 'B', and 'C', select rows with indices 0 to 2 and columns 'A' and 'C'.

import numpy as np

# np array as data
data = np.random.randint(10,size=(10,3))

#convert np nd array to df
df = pd.DataFrame(data, columns= ['A', 'B', 'C'])

# selection 
df.loc[0:2, ["A","C"]]

   A  C
0  5  7
1  0  8
2  2  2

# Task 3
Select a Single Row by Label:

In [14]:
# •	Task: Create a DataFrame df and select the row with index 3.

data = np.random.randint(50, size=(10,3))

df = pd.DataFrame(data, columns=["A","B","C"])

df.iloc[3]

A    31
B    19
C    43
Name: 3, dtype: int32

# Task 4
Select Rows with Conditions

In [37]:
# •	Task: Using a DataFrame df with columns 'Value' and 'Category', select rows where 'Category' is 'A' or 'B'.

# dict 
cat = {"category": ['A','C','E','C','B','D','A','B','A','C','E','C','B','D','A','B','A','C','E','C','B','D','A','B']}
val = np.random.randint(500, size=(len(cat['category'])))

# dataframe 
df = pd.DataFrame(cat)
df["Values"]=val


# select rows 
df[(df['category']== 'A') | (df['category']=='B')]

   category  Values
0         A      39
4         B     445
6         A     342
7         B     219
8         A      93
12        B     189
14        A     417
15        B     393
16        A     287
20        B     472
22        A     157
23        B     385

# task 5
Modify Values Using .loc[]:

In [41]:
# •	Task: Create a DataFrame df with columns 'X' and 'Y'. 
#Update the value in row 2 and column 'Y' to 'Updated'.

data = np.random.randint(20, size=(10,2))

df = pd.DataFrame(data, columns=["X","Y"])

df.loc[2,["Y"]]= 'updated'

df

    X        Y
0   4       17
1   2        8
2   0  updated
3  14       10
4   9        2
5  10       18
6  18        2
7  18       16
8   8       18
9   7       17

# Task 6
Select Rows with Index Slice and All Columns:

In [43]:
#•	Task: Given a DataFrame df with multiple columns, 
#select rows from index 1 to 3 and display all columns.

data = np.random.randint(40,size=(20,5))

df = pd.DataFrame(data, columns=["a",'b','c','d','e'])

df.iloc[1:3]

    a   b   c   d   e
1  20  25  35  33   3
2   3  36  26  26  17

# Task 7
Select Rows and Exclude Specific Columns:

In [45]:
# •	Task: With a DataFrame df containing columns 'A', 'B', and 'C',
#select rows from index 0 to 2 and exclude column 'B'.

# np array as data
data = np.random.randint(10,size=(10,3))

#convert np nd array to df
df = pd.DataFrame(data, columns= ['A', 'B', 'C'])

df.loc[0:2, ['A','B']]

   A  B
0  0  3
1  8  8
2  4  3

# task 8
Select Rows Based on Index Labels:

In [47]:
#•	Task: Create a DataFrame df with index labels 'a', 'b', 'c', 'd'. Select rows with labels 'b' to 'd'.
data = np.random.randint(40,size=(4,4))

df = pd.DataFrame(data, columns=["a",'b','c','d'], index=["a",'b','c','d'])

df.loc[['b','d']]

    a   b   c   d
b   7   1  37  31
d  38  32  25  28

# task 9
Select Rows by Condition and Columns:

In [48]:
# •	Task: Given a DataFrame df with columns 'Score' and 'Status', 
#select rows where 'Score' is greater than 50 and only show 'Status' column.

data = {
    'Score': [45, 67, 89, 34, 58],
    'Status': ['Fail', 'Pass', 'Pass', 'Fail', 'Pass']
}

df = pd.DataFrame(data)


selected_data = df.loc[df['Score'] > 50, 'Status']

print(selected_data)

1    Pass
2    Pass
4    Pass
Name: Status, dtype: object

# task 10
Select Rows with .loc[] and Set New Index:

In [49]:
# •	Task: Create a DataFrame df and set a new index using the 'ID' column. 
#Then select rows from index 1 to 3.


data = {
    'ID': [0, 1, 2, 3, 4],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 30, 35, 40, 45]
}


df = pd.DataFrame(data)

df.set_index('ID', inplace=True)

df.loc[1:3]

       Name  Age
ID
1       Bob   30
2   Charlie   35
3     David   40