In [1]:
structured_data = [
    {"ID": 1, "Name": "Alice", "Age": 30, "Salary": 70000},
    {"ID": 2, "Name": "Bob", "Age": 25, "Salary": 50000},
    {"ID": 3, "Name": "Charlie", "Age": 35, "Salary": 80000}
]

unstructured_data = [
    "This is an email content.",
    "A blog post about Python.",
    "Image data: [image binary data]",
    "Video data: [video binary data]"
]

print("Structured Data Example:", structured_data[0])
print("Unstructured Data Example:", unstructured_data[1])

Structured Data Example: {'ID': 1, 'Name': 'Alice', 'Age': 30, 'Salary': 70000}
Unstructured Data Example: A blog post about Python.

In [2]:
height = 175.5  # Height in centimeters
weight = 70.2   # Weight in kilograms
num_students = 30  # Number of students
num_cars = 12      # Number of cars

print(f"Height: {height} cm")
print(f"Weight: {weight} kg")
print(f"Number of students: {num_students}")
print(f"Number of cars: {num_cars}")

Height: 175.5 cm
Weight: 70.2 kg
Number of students: 30
Number of cars: 12

In [3]:
def greet(name, greeting="Hello"):
    print(f"{greeting}, {name}!")

greet(name="Alice", greeting="Hi")
greet(greeting="Good morning", name="Bob")
greet(name="Charlie")

Hi, Alice!
Good morning, Bob!
Hello, Charlie!

In [4]:
def display_info(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

display_info(name="Alice", age=30, city="New York")

name: Alice
age: 30
city: New York

In [5]:
def combined_example(a, *args, **kwargs):
    print(f"a: {a}")
    print(f"args: {args}")
    print(f"kwargs: {kwargs}")

combined_example(1, 2, 3, x=4, y=5)

a: 1
args: (2, 3)
kwargs: {'x': 4, 'y': 5}

In [6]:
structured_data = [
    {"ID": 1, "Name": "Alice", "Age": 30, "Salary": 70000},
    {"ID": 2, "Name": "Bob", "Age": 25, "Salary": 50000},
    {"ID": 3, "Name": "Charlie", "Age": 35, "Salary": 80000}
]

print("Name of second entry:", structured_data[1]["Name"])
print("Salary of third entry:", structured_data[2]["Salary"])

Name of second entry: Bob
Salary of third entry: 80000

In [7]:
structured_data = [
    {"ID": 1, "Name": "Alice", "Age": 30, "Salary": 70000},
    {"ID": 2, "Name": "Bob", "Age": 25, "Salary": 50000},
    {"ID": 3, "Name": "Charlie", "Age": 35, "Salary": 80000}
]

print("Name of second entry:", structured_data[1]["Name"])
print("Salary of third entry:", structured_data[2]["Salary"])

Name of second entry: Bob
Salary of third entry: 80000

In [8]:
height1 = 175.5  # Height in centimeters
height2 = 160.2  # Another height in centimeters
average_height = (height1 + height2) / 2

print(f"Height1: {height1} cm")
print(f"Height2: {height2} cm")
print(f"Average Height: {average_height} cm")

Height1: 175.5 cm
Height2: 160.2 cm
Average Height: 167.85 cm

In [9]:
def introduce(name, age=18, city="Unknown"):
    print(f"Name: {name}, Age: {age}, City: {city}")

introduce(name="Alice")
introduce(name="Bob", age=25)
introduce(name="Charlie", city="New York")

Name: Alice, Age: 18, City: Unknown
Name: Bob, Age: 25, City: Unknown
Name: Charlie, Age: 18, City: New York

In [10]:
def introduce(name, age=18, city="Unknown"):
    print(f"Name: {name}, Age: {age}, City: {city}")

introduce(name="Alice")
introduce(name="Bob", age=25)
introduce(name="Charlie", city="New York")

Name: Alice, Age: 18, City: Unknown
Name: Bob, Age: 25, City: Unknown
Name: Charlie, Age: 18, City: New York

In [11]:
def describe_person(**kwargs):
    for key, value in kwargs.items():
        print(f"{key.capitalize()}: {value}")

def complete_example(a, *args, **kwargs):
    print(f"a: {a}")
    print(f"args: {args}")
    print(f"kwargs: {kwargs}")

complete_example(1, 2, 3, 4, x=5, y=6, z=7)

a: 1
args: (2, 3, 4)
kwargs: {'x': 5, 'y': 6, 'z': 7}

In [12]:
def example_function(a, b=2, c=3):
    print(f"a: {a}, b: {b}, c: {c}")

example_function(1)  # Output: a: 1, b: 2, c: 3
example_function(1, b=10)  # Output: a: 1, b: 10, c: 3
example_function(1, c=20)  # Output: a: 1, b: 2, c: 20
example_function(a=5, b=15, c=25)  # Output: a: 5, b: 15, c: 25

a: 1, b: 2, c: 3
a: 1, b: 10, c: 3
a: 1, b: 2, c: 20
a: 5, b: 15, c: 25

In [13]:
from dataclasses import dataclass

@dataclass
class Person:
    name: str
    age: int
    city: str

person1 = Person(name="Alice", age=30, city="New York")
print(person1)

Person(name='Alice', age=30, city='New York')

In [14]:
from dataclasses import dataclass

@dataclass
class Person:
    name: str
    age: int
    city: str = "Unknown"

person1 = Person(name="Alice", age=30)
person2 = Person(name="Bob", age=25, city="Los Angeles")

print(person1)
print(person2)

Person(name='Alice', age=30, city='Unknown')
Person(name='Bob', age=25, city='Los Angeles')

In [15]:
from dataclasses import dataclass

@dataclass
class Rectangle:
    width: float
    height: float

    def area(self) -> float:
        return self.width * self.height

rect = Rectangle(width=10.0, height=5.0)
print(f"Rectangle: {rect}")
print(f"Area: {rect.area()}")

Rectangle: Rectangle(width=10.0, height=5.0)
Area: 50.0

In [16]:
from dataclasses import dataclass

@dataclass(frozen=True)
class Point:
    x: int
    y: int

point = Point(x=1, y=2)
print(point)

Point(x=1, y=2)

In [17]:
from dataclasses import dataclass

@dataclass
class Point:
    x: int
    y: int

point1 = Point(x=10, y=20)
point2 = Point(x=10, y=20)
point3 = Point(x=5, y=15)

print(point1 == point2)
print(point1 == point3)

True
False

In [18]:
from dataclasses import dataclass

@dataclass
class Vehicle:
    make: str
    model: str

@dataclass
class Car(Vehicle):
    seats: int

car = Car(make="Toyota", model="Camry", seats=5)
print(car)

Car(make='Toyota', model='Camry', seats=5)

In [19]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def __str__(self):
        return f"Person(name={self.name}, age={self.age})"

person = Person(name="Alice", age=30)
print(person)

Person(name=Alice, age=30)

In [20]:
class MyClass:
    def __init__(self, value):
        self.value = value

    def __add__(self, other):
        return MyClass(self.value + other.value)
    
    def __str__(self):
        return f"MyClass(value={self.value})"

obj1 = MyClass(10)
obj2 = MyClass(20)
result = obj1 + obj2
print(result)

MyClass(value=30)

In [21]:
class Container:
    def __init__(self, items):
        self.items = items

    def __len__(self):
        return len(self.items)

container = Container([1, 2, 3, 4, 5])
print(len(container))

5

In [23]:
class MyList:
    def __init__(self, items):
        self.items = items

    def __getitem__(self, index):
        return self.items[index]

my_list = MyList([10, 20, 30, 40])
print(my_list[2])

30

In [25]:
class MyList:
    def __init__(self, items):
        self.items = items

    def __getitem__(self, index):
        return self.items[index]

    def __setitem__(self, index, value):
        self.items[index] = value

my_list = MyList([10, 20, 30, 40])
my_list[2] = 100
print(my_list[2])

100

In [26]:
class MyList:
    def __init__(self, items):
        self.items = items

    def __getitem__(self, index):
        return self.items[index]

    def __delitem__(self, index):
        del self.items[index]

my_list = MyList([10, 20, 30, 40])
del my_list[1]
print(my_list.items)

[10, 30, 40]

In [27]:
class MyList:
    def __init__(self, items):
        self.items = items

    def __contains__(self, item):
        return item in self.items

my_list = MyList([10, 20, 30, 40])
print(20 in my_list)
print(50 in my_list)

True
False

In [28]:
class MyClass:
    def __init__(self, value):
        self.value = value

    def __eq__(self, other):
        if isinstance(other, MyClass):
            return self.value == other.value
        return False

obj1 = MyClass(10)
obj2 = MyClass(10)
obj3 = MyClass(20)

print(obj1 == obj2)
print(obj1 == obj3)

True
False