In [29]:
from dataclasses import dataclass

# tasks

> task 1

In [30]:
@dataclass
class employee:
    name: str
    position: str= "manager"
    salary: int = 303083

person1 = employee(name="Alice")
print(person1)

employee(name='Alice', position='manager', salary=303083)

> task 2

In [32]:
@dataclass
class Rectangle:
    width: float
    height: float

    def area(self) -> float:
        return self.width * self.height

rect = Rectangle(width=10.0, height=5.0)
print(f"Rectangle: {rect}")
print(f"Area: {rect.area()}")

Rectangle: Rectangle(width=10.0, height=5.0)
Area: 50.0

> task 3

In [33]:
from dataclasses import dataclass

@dataclass
class book:
    def __init__(self, title, author):
        self.title = title
        self.author = author
    
    def __str__(self):
        return f"book (title={self.title}, author={self.author})"

book = book(title="Jannat k patay", author="nimra ahmed")
print(book)

book (title=Jannat k patay, author=nimra ahmed)

> task 4

In [17]:
class MyClass:
    def __init__(self, value):
        self.value = value

    def __add__(self, other):
        return MyClass(self.value + other.value)
    
    def __sub__(self, other):
        return MyClass(self.value - other.value)
    
    def __str__(self):
        return f"MyClass(value={self.value})"

obj1 = MyClass(40)
obj2 = MyClass(20)
result = obj1 + obj2
print(result)

MyClass(value=60)

In [18]:
result = obj1 - obj2
print(result)

MyClass(value=20)

> task 5

In [27]:
class customlist:
    def __init__(self, items):
        self.items = items

    def __len__(self):
        return len(self.items)
    
    def __contains__(self, item):
        return item in self.items


customlist = customlist([1, 2, 3, 4, 5])

# len
print(len(customlist))

#cotains
print(2 in customlist)
print(50 in customlist)

5
True
False

> task 6

In [21]:
class MyList:
    def __init__(self, items):
        self.items = items

    def __getitem__(self, index):
        return self.items[index]

    def __setitem__(self, index, value):
        self.items[index] = value
        
    def __delitem__(self, index):
        del self.items[index]

my_list = MyList([10, 20, 30, 40])

#set item
my_list[2] = 100


#del item 
del my_list[1]


#get item 
print(my_list[2])

40